<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <button (click)="isCollapsed=!isCollapsed" aria-controls="sidenav-collapse-main" class="navbar-toggler"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="['/dashboard']" class="navbar-brand pt-0 d-none d-sm-block" routerLinkActive="active">
      <img alt="..." class="navbar-brand-img" src="assets/img/logo.png">
    </a>
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <div class="media align-items-center">
          <a class="pointer" ngbDropdownToggle role="button">
            <div class="media-body ml-2 d-lg-block">
              <span class="mb-0 text-sm font-weight-bold text-black-50">John Snow</span>
            </div>
          </a>
          <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
            <a (click)="logout()" class="dropdown-item pointer">
              <i class="ni ni-user-run"></i>
              <span>{{'topNav.logout' | translate}}</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="sidenav-collapse-main">
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/dashboard']" routerLinkActive="active">
              <img alt="..." class="navbar-brand-img" src="assets/img/logo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button (click)="isCollapsed=!isCollapsed" class="navbar-toggler" type="button">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a [routerLinkActiveOptions]="menuItem.pathOptions" [routerLink]="[menuItem.path]" class="nav-link"
             routerLinkActive="active">
            <i class="ni {{menuItem.icon}}"></i>
            {{menuItem.titleKey | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
