<table class="table align-items-center table-flush">
  <thead class="thead-light">
  <tr>
    <th scope="col"></th>
    <th scope="col">{{'documents.table.column.name' | translate}}</th>
    <th scope="col">{{'documents.table.column.date' | translate}}</th>
    <th scope="col">{{'documents.table.column.type' | translate}}</th>
    <th scope="col">{{'documents.table.column.initiator' | translate}}</th>
  </tr>
  </thead>
  <tbody class="list">
  <tr *ngFor="let documentMetadata of documentsMetadata">
    <td><i class="fa fa-angle-right"></i></td>
    <td (click)="rowClick.emit(documentMetadata.id)" class="pointer">{{ documentMetadata.documentTitle }}</td>
    <td>{{ documentMetadata.dateOfDevelopment | date }}</td>
    <td>{{ documentMetadata.documentType }}</td>
    <td>{{ documentMetadata.documentInitializer }}</td>
  </tr>
  </tbody>
</table>
