<div class="card">
  <div class="card-header">
    <h5 class="h3 mb-0">{{'comments.all' | translate}}</h5>
  </div>
  <div class="card-body p-0">
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
        <ec-new-comment (commentAdded)="onCommentAdded($event)" [nodeId]="nodeId"></ec-new-comment>
      </div>
      <a *ngFor="let comment of comments$ | async"
         [id]="comment.id"
         class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <div class="d-flex w-100 align-items-center">
              <h5 class="mb-1">{{comment.user}}</h5>
            </div>
          </div>
          <small> {{comment.lastEditDateTime | date}} </small>
        </div>
        <p class="text-sm mb-2">{{comment.text}}</p>
        <div *ngIf="!areRepliesExpanded(comment.id)" class="d-flex justify-content-between text-sm">
          <div>
            <a [routerLink]="" (click)="onVote(comment, VoteType.UP)" class="active">
              {{comment.voteCount && comment.voteCount[VoteType.UP] || 0}} {{'votes.voteUp' | translate}}
              <i class="ni ni-bold-up" [ngClass]="{'text-success': comment.myVote?.vote === VoteType.UP}"></i>
            </a>
            &middot;
            <a [routerLink]="" (click)="onVote(comment, VoteType.DOWN)">
              {{comment.voteCount && comment.voteCount[VoteType.DOWN] || 0}} {{'votes.voteDown' | translate}}
              <i class="ni ni-bold-down" [ngClass]="{'text-success': comment.myVote?.vote === VoteType.DOWN}"></i>
            </a>
          </div>
          <a [routerLink]="" (click)="expandReplies(comment.id)">
            <i class="ni ni-curved-next"></i> {{'comments.answer' | translate}}
          </a>
        </div>
        <div *ngIf="areRepliesExpanded(comment.id)" class="replies">
          <ec-replies [nodeId]="nodeId"
                      [commentId]="comment.id"
                      (repliesCollapsed)="onRepliesCollapsed(comment.id)">
          </ec-replies>
        </div>
      </a>
    </div>
  </div>
  <div (click)="commentsCollapsed.emit()" class="card-footer p-0 pointer">
    <div class="row justify-content-center">
      <i class="ni ni-bold-up"></i>
    </div>
  </div>
</div>
